html {
    height: 100vh;
    overflow: hidden;
}

.advanced-table-drag-overlay {
    width: auto;
    border-radius: 3px;
    padding: 10px;
    background-color: rgba(232, 219, 253, 0.5);
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
}
